body,
html {
    font-family: 'Barlow', sans-serif;
    overscroll-behavior-y: none;
    overflow: hidden
}
/* 
#content {
    height: 100%;
    width: 100%;
    text-align: center;
}

#lifeCounter {
    height: 100%;
    width: 100%;
    text-align: center;
}

#diceRoll {
    height: 100%;
    width: 100%;
    text-align: center;
} */

#oponent,
#player,
#oponentDice,
#playerDice {
    height: 45vh;
    font-size: 9em;
    font-weight: bold
}

#oponent,
#oponentDice {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    color: #F44336
}

#player,
#playerDice {
    color: #FFEB3B;
}

#menu,
#menuDice {
    height: 10vh;
}
/*

.counter,
.tools {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 2em
}

.counter {
    transform: translate(-50%, -50%) scaleY(1.5);
}

.tools {
    transform: translate(-50%, -50%) scaleY(1);
}

i.material-icons {
    vertical-align: middle;
    margin: 0px 1em
}

.timer {
    transform: scaleY(1.3);
}
*/

.minus {
    position: absolute;
    height: 50%;
    top: 50%;
    width: 100%;
    background-color: transparent;
    z-index: 5;
}

.plus {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    background-color: transparent;    
}

.minusP {
    top:75% !important
}

.plusP {
    top:55% !important
}

.hidden {
    display: none
}